@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">

    <table class="table table-light">
        <thead class="table table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th> </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.ProductId</td>
                <td>@item.Product.ProductName</td>
                <td>@string.Format("{0:0,0}", item.Product.Price)</td>
                <td><img src="@Url.Content("~/images/"+item.Product.ImgProduct)" alt="Coffee Shop" /></td>
                <td>
                    <a class="btn btn-success" id="tableButton" asp-controller="Product" asp-action="AddToTables" asp-route-id="@item.Product.ProductId">Choose</a>
                </td>
            </tr>
        }
    </table>

</div>