@model IEnumerable<Product>
@{
    ViewData["Title"] = "List";
}

<style>
    img {
        width: 100px;
        height: 100px;
    }
</style>

<div>
    <a asp-controller="Product" asp-action="Create">Create New</a>
</div>


<div class="container">
    <h1>List</h1>

    <table class="table table">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>TÊN ĐỒ UỐNG</th>
                <th>GIÁ</th>
                <th>ẢNH ĐỒ UỐNG</th>
                <th>LOẠI ĐỒ UỐNG</th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>
                    <img src="@Url.Content("~/img/"+item.ImgProduct)" />
                </td>
                <td>@item.ProductType.ProductTypeName</td>
            </tr>
        }

    </table>
</div>




