@page
@model MySelfApp.Pages.MySelf.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>
<form method="get">
    <div class="input-group">
        <input type="search"asp-for="SearchKeyWord" />
        <span>
            <button class="btn btn-group-lg"><i class="fa fa-search" style="font-size:24px"></i></button>
        </span>        
    </div>
</form>
<table class = "table table-dark">
    @foreach (var myself in Model.Myselves)
    {
        <tbody>
            <tr>
                <td>@myself.Name</td>
                <td>@myself.Location</td>
                <td>@myself.MyselfType</td>
                <td>
                    <a class="btn btn-light" asp-page="./Detail" asp-route-myselfId="@myself.Id"><i class="fa fa-search-plus"></i></a>
                    <a class="btn btn-light" asp-page="./Delete" asp-route-myselfId="@myself.Id"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-light" asp-page="./Edit" asp-route-myselfId="@myself.Id"><i class="fa fa-car"></i></a>
                </td>
            </tr>
        </tbody>
    }
</table>
<div>@Model.Message</div>
