@using ContactManagement.Models
@model Contact
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<form method="get">
    <h4>Họ: @Model.Ho</h4>
    <h4>Tên: @Model.Ten</h4>
    <h4>Số điện thoại: @Model.SDT</h4>
    <h4>Email: @Model.Email</h4>
    <h4>Địa chỉ: @Model.DiaChi</h4>
    <h4>Quê quán: @Model.QueQuan.Name</h4>
    <a asp-action="Index">Back List</a>
</form>